body {
  margin: 0;
  padding: 0 40px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: rgba(255, 255, 255, 1);
  background: rgb(37, 31, 32);
  background: linear-gradient(
    0deg,
    rgba(0, 55, 63, 1) 0%,
    rgba(37, 31, 32, 1) 85%
  );
}

header {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: -10px;
}

header span {
  word-spacing: 6.5px;
  letter-spacing: 2px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

/* main */

main {
  position: relative;
  padding: 100px 0;
  margin-bottom: 75px;
}

main img {
  display: block;
  margin: 0 auto;
  width: 63%;
}

main strong {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 30px, 0;
}

p {
  font-weight: 400;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

main #div1 {
  position: absolute;
  top: 150px;
  max-width: 17%;
}

main > #div1 > h3::after {
  content: "";
  display: block;
  padding: 1.2% 20%;
  margin: 7px 0;
  background-color: cyan;
}

main #div2 {
  position: absolute;
  top: 100px;
  max-width: 17%;
  right: 0;
}

main > #div2 > h3::after {
  content: "";
  display: block;
  padding: 1.2% 20%;
  margin: 7px 0;
  background-color: magenta;
}

main #div3 {
  position: absolute;
  bottom: 130px;
  max-width: 17%;
  right: 40px;
}

main > #div3 > h3::after {
  content: "";
  display: block;
  padding: 1.2% 20%;
  margin: 7px 0;
  background-color: red;
}
main #div4 {
  position: absolute;
  bottom: 30px;
  max-width: 19%;
  left: 250px;
}

main > #div4 > h3::after {
  content: "";
  display: block;
  padding: 1.2% 20%;
  margin: 7px 0;
  background-color: orangered;
}

section {
  position: relative;
  padding-bottom: 100px;
}

body > section > div:nth-child(1) {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container div img {
  display: block;
}

.container div {
  max-width: 50%;
  margin-top: 40px;
}

body > section > div:nth-child(1) > p {
  padding-left: 20px;
  font-size: 1.4rem;
  max-width: 35%;
}

body > section > div.container > div:nth-child(1) > h3 {
  font-size: 1.9rem;
}

body > section > div.container > div:nth-child(1) > p::before {
  content: "";
  max-width: 42.5%;
  display: block;
  padding: 2px;
  background-color: cyan;
}

.container > div:nth-child(2),
.container > div:nth-child(3) {
  text-align: end;
  font-weight: 700;
  font-size: 2.8rem;
}

.container > div:nth-child(2) > strong::after,
.container > div:nth-child(3) > strong::after {
  content: "";
  display: block;
  padding: 1.2%;
  max-width: 50%;
  margin-left: auto;
  margin-bottom: 10px;
  background-color: cyan;
}

.container > div:nth-child(2)::after {
  content: "2010";
  margin: 0px 10px auto;
  font-size: 2rem;
  font-weight: 400;
}
.container > div:nth-child(3)::after {
  content: "2020";
  margin: -20px 30px auto;
  font-size: 2rem;
  font-weight: 400;
}

/* footer */
footer {
  padding-bottom: 100px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container div {
  max-width: 20%;
}
.flex-container h3 {
  font-size: 1.9rem;
  font-weight: 700;
}

.flex-container div:nth-child(1) h3::after {
  content: "";
  display: block;
  padding: 1.5% 20%;
  margin: 7px 0;
  background-color: cyan;
}
.flex-container div:nth-child(2) h3::after {
  content: "";
  display: block;
  padding: 1.5% 20%;
  margin: 7px 0;
  background-color: magenta;
}
.flex-container div:nth-child(3) h3::after {
  content: "";
  display: block;
  padding: 1.5% 20%;
  margin: 7px 0;
  background-color: red;
}
.flex-container div:nth-child(4) h3::after {
  content: "";
  display: block;
  padding: 1.5% 20%;
  margin: 7px 0;
  background-color: orangered;
}
